html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16.5px;
  background-color: rgb(23, 22, 22);
}

* {
  box-sizing: border-box;
}

a {
  color: #00c6f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: darkred;
}

img {
  max-width: 100%;
  display: block;
  
}
